{% extends "quote/base.html" %}

{% block title %}Query Log{% endblock %}

{% block innerblock %}
<h1 class="cover-heading">Query log for {{ user.username }}</h1>

<div class=res>
<p class=checkfield>Query string</p>
<p class=regStaField>Is Registered</p>
<p class=timefield>Query time</p>
<p class=nqrfield>#Results</p>
</div>
<form action={% url 'registerQuery' %} method=post>
	{% csrf_token %}
	{% for query in querylogs %}
		<div class=res>
		<p class=checkfield>
			<input type=checkbox name=queryID value={{ query.id }}
			{% if query.isRegistered %}checked{% endif %}>
			{{ query.queryStr }}</input>
		</p>
		<p class=regStaField>
			{% if query.isRegistered %}
				Yes (<a href="unregister/{{ query.id }}">Unregister</a>)
			{% else %}
				No 
			{% endif %}
		</p>
		<p class=timefield>
			{{ query.time }}
		</p>
		<p class=nqrfield>
			{{ query.cntRes }}
		</p>
		</div>
	{% endfor %}
<input type=submit value="Register Query" class="keyin btn btn-default"></input>
</form>
<p class=lead><a href={% url "notify" %} class="keyin btn btn-default">Check Update</a></p>

            
{% endblock %}